@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      color: #cfcfcf;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: #cfcfcf;
      }

      .img-color {
        fill: #2e2e2e;
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}
