.footer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  span {
    &:first-child {
      color: #2e2e2e;
      font-weight: bold;
    }

    &:last-child {
      color: #2e2e2e;
      font-size: 14px;
    }
  }
}
